*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-color: #f4f4f9;
}

nav{
    height: 60px;
    width: 100%;
    background-color: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

nav a{
    text-decoration: none;
    color: white;
    background-color: #0096c7;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}

nav div{
    display: inline-block;
    margin: 20px;
}

nav  a:hover{
     font-size: 1.1rem;
     background-color: #69c2e0;
     transition: background-color 0.7s ease, transform 0.3s ease;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;  
    display: flex;
    flex-wrap: wrap;
 
}

footer{
    height: 40px;
    width: 100vw;
    background-color: rgb(24, 22, 22);
    color: white;
    text-align: center;
}

footer p{
   padding-top: 10px;
}


.contact input{
    width: 250px;
    height: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.contact textarea{
    width: 250px;
    height: 100px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container h1{
    height: 50px;
    width: 100%;
    background-color:  rgb(51, 209, 51);
    color: white;
    font-size: 2rem;
   text-align: center;
   padding-top: 10px;
   border-radius: 8px;
}

.contact{
    border: 1px solid #69c2e0;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    padding: 30px 30px 30px 110px;
    background-color:  #f9f9f9;
    display: inline-block;

  
}

.form-font{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    height: 30px;
    width: 60px;
    border-radius: 6px;
    background-color: #9fddff ;
    color: green;
    margin-left: 80px;
}

button:hover{
    background-color: #0077b6;
    color: white;
    font-weight: bold;
}

iframe{
    height: 400px;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border: 1px solid black;
}


